<%= form_for book.reviews.build, html: { class: "review-form" } do |f| %>
  <div class='book-review-widget'>
    <%= f.text_area :text, placeholder: "Katakan opini anda tentang buku ini",
      class: "form-control" %>
    <%= f.hidden_field :book_id %>
    <%= f.hidden_field :star %>
    <%= f.submit "Kirim review", class: 'btn btn-default' %>
    <div class='clearfix'></div>
  </div>

  <div class='book-rating-widget'>
  </div>
<% end %>
